<div class="tweet">
  <div class="avatar" style="float: left;">
    <img src="<%= tweet['profile_image_url'] %>" />
  </div>
  <div class="text">
    <p><%= tweet['text'] %></p>
  </div>
  <div class="meta">
    <a href="http://twitter.com/<%= tweet['from_user'] %>/status/<%= tweet['id'] %>"><%= tweet['created_at'] %></a>
    by <%= tweet['from_user'] %>
  </div>
</div>
